<!DOCTYPE html>
<html>

<body>

  <div class="navbar-fixedd">

    <div class="navbar-fixedd">
  
  
      <nav class="transparent" style="background-color: rgba(1,1,1,0.0) !important; height: 80px; box-shadow : none !important;">
        <div class="nav-wrapper" style="padding-right: 5%; padding-left: 5%;">
          <a href="/" class="brand-logo" id="logo" style="height: 100px;">
            <img src="/assets/images/misc/logo.png" class="responsive-img" style="height: 80px; width: auto;">
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger valign-wrapper" style="height: 100%;"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down" style="line-height:40px; padding-top: 20px;">
            <ul id="menu-main-navigation" class="right"><li id="menu-item-5" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-5"><a href="/">Home</a></li>
                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-19 current_page_item menu-item-21"><a href="/about" aria-current="page">About</a></li>
                <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="/blogs">Blogs</a></li>
                <li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="/events">Events</a></li>
                <!-- <li style="padding-left: 10px; padding-right: 10px;"> <form method="get" action="/"> <div class="input-field"><input id="search" type="search" name="s" value="" required=""><label id="search-icon" class="label-icon" for="search"><i class="material-icons" style="line-height:40px;">search</i></label></div></form></li> -->
            </ul>          
          </ul>
  
        </div>
      </nav>
    </div>
  <div id="body-wrapper">